This is an invoice for {{{amount}}} {{{currency}}}
{{#message}}

---
{{{.}}}
---
{{/message}}

To pay this invoice, click the link below:
<https://classic.ripplepay.com/payUser/{{ripple}}/?units={{currency}}&amount={{amount}}&desc={{message}}>
