This is an invoice for {{{amount}}}/{{{currency}}}
{{#message}}

---
{{{.}}}
---
{{/message}}

To pay this invoice, click the link below:
<https://ripple.com//send/?to={{ripple}}&amount={{amount}}/{{currency}}&label={{message}}>
