<header>
	<h1><a href="//rippleunion.com/"><img src="//rippleunion.com/logo.png" alt="Ripple Union" /></a> {{#classic}}Classic{{/classic}}{{^classic}}Ripple.com{{/classic}} Invoices</h1>

	<nav>
		<ul>
			<li><a href="//etransfer.rippleunion.com/">Interac e-Transfer</a></li>
			<li><a href="//giftcards.rippleunion.com/">Amazon Giftcards</a></li>
			<li><a href="//shop.rippleunion.com/">Shop</a></li>
			<li><a href="//faq.rippleunion.com/">FAQ</a></li>
		</ul>
	</nav>
</header>
