<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{#classic}}Ripple Classic{{/classic}}{{^classic}}Ripple.com{{/classic}} Invoices</title>
<link rel="stylesheet" type="text/css" href="/assets/styles.css" />
